node_modules/
.next/
website/out/
website/node_modules/
website/.next/
.vercel/
website/.vercel/
code/haskell/Matter
code/haskell/AntiMatter
code/haskell/Synthesis
code/haskell/UnifiedSynthesis
*.aux
*.log
*.out
*.toc
*.fls
*.fdb_latexmk
*.synctex.gz
